@{
  Layout = "_Layout";
}

<h1>Welcome to the Bakery Manager!</h1>
<p>@Html.ActionLink("Manage Treats", "Index", "Treats")</p>
<p>@Html.ActionLink("Manage Flavors", "Index", "Flavors")</p>





    
